div.content {
    position: relative;
    top: 5%;
}
 
.content {
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: whitesmoke;
}
 
.title {
    font-size: 50px;
}

.bgcolour{
    background-image: url("../Resources/Space.jpeg");
}
 
.text {
    font-size: 150%;
    padding-bottom: 15px;
}
 
.btn-outline-dark {
    margin-top: 1.5rem;
}