.header-wrapper {

    position: relative;

    /* background: url(../resources/pastel.jpg) no-repeat; */

    background-size: cover;

    background-position: center;

    height: 100vh

}

 

.main-info {

    justify-content: center;

    flex-direction: column;

    text-align: center;

    align-items: center;

    display: flex;

    height: 50rem

}

 

.main-info h1 {

    color: white;
    font-size: 6rem;

}

.main-info p {
    color:white;
    font-size: 1rem;
}

 

.jumbotron {

    height: 100vh;

    text-align: center;

 

    background-color: black;
    background-size: 1800% 1800%;

    margin: 0px;

}
