.aboutCourses {
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    height: 75%;
    background-image: url('../resources/nebula.jpeg');
}